In [1]:
import pandas as pd
import numpy as np

In [2]:
csv_path = "Resources/purchase_data.csv"
purchase_df = pd.read_csv(csv_path, encoding="utf-8")
# purchase_df = purchase_df['Price'].astype(float).map("${:,.2f}".format)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# purchase_df['Price'] = purchase_df['Price'].astype(float).map("${:,.2f}".format)

In [4]:
purchase_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [5]:
# Player Count
players = len(purchase_df["SN"].unique())
players

576

In [6]:
#  Purchasing Analysis (Total)
unique_item = len(purchase_df["Item ID"].unique())

avg_price = purchase_df["Price"].mean()

num_purchase = purchase_df["Purchase ID"].count()

total_revenue = purchase_df["Price"].sum()

In [35]:
purchasing_summary = pd.DataFrame({"Number of Unique Items": [unique_item],
                              "Average Price": avg_price,
                              "Number of Purchases": num_purchase,
                              "Total Revenue": total_revenue})
purchasing_summary

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [9]:
##  Gender Demographics
 
# Percentage and Count of Male Players

# Percentage and Count of Female Players

# Percentage and Count of Other / Non-Disclosed

In [10]:
demo_count_df = purchase_df.rename(columns={"Gender": "Total Count"})

In [11]:
# Gender Demographics
# Demographic count

demo_count_df = pd.DataFrame(demo_count_df["Total Count"].value_counts())
demo_count_df["Total Count"] = demo_count_df
demo_count_df

                       Total Count
Male                           652
Female                         113
Other / Non-Disclosed           15

In [12]:
purchase_df["Gender"].count()

780

In [21]:
# Gender Demographics
# Demographic percent
# ['Percentage of Players']
demo_perc = pd.DataFrame((demo_count_df['Total Count'] / purchase_df["Gender"].count()))
demo_perc.round(2)

                       Total Count
Male                          0.84
Female                        0.14
Other / Non-Disclosed         0.02

In [25]:
summary_demo = pd.concat([demo_count_df, demo_perc], axis=1)
# summary_demo['Total Count'] = pd.Series(["{0:.2f}%".format(val * 100) for val in summary_demo['Total Count']], index = summary_demo.index)
summary_demo

                       Total Count  Total Count
Male                           652     0.835897
Female                         113     0.144872
Other / Non-Disclosed           15     0.019231

In [27]:
## Purchasing Analysis (Gender)
 
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

Gender = pd.DataFrame(purchase_df["Gender"].value_counts())
Gender

                       Gender
Male                      652
Female                    113
Other / Non-Disclosed      15

In [28]:
Purchase_Count = pd.DataFrame([purchase_df["Item ID"].count()])
Purchase_Count

     0
0  780

In [29]:
Average_Purchase_Price = pd.DataFrame([purchase_df["Price"].mean()])

Average_Purchase_Price

          0
0  3.050987

In [30]:
Total_Purchase_Value = pd.DataFrame([(Purchase_Count * Average_Purchase_Price).sum()])

Total_Purchase_Value

         0
0  2379.77

In [33]:
Average_Per_Person = pd.DataFrame([(Total_Purchase_Value / Purchase_Count).sum()])
Average_Per_Person

          0
0  3.050987

In [32]:
# # Create a summary data frame to hold the results

# # Optional: give the displayed data cleaner formatting

# Display the summary data frame

In [37]:
summary_gender = pd.DataFrame({"Gender": [Gender],
                              "Purchase Count": Purchase_Count,
                              "Average Purchase Price": Average_Purchase_Price,
                              "Total Purchase Value": Total_Purchase_Value})
summary_gender


# summary_gender = pd.concat([Gender, Purchase_Count, Average_Purchase_Price, Total_Purchase_Value, Average_Per_Person], axis=1)
# summary_gender

ValueError: Data must be 1-dimensional