In [73]:
import pandas as pd
import numpy as np

In [74]:
csv_path = "Resources/purchase_data.csv"
purchase_df = pd.read_csv(csv_path, encoding="utf-8")
# purchase_df = purchase_df['Price'].astype(float).map("${:,.2f}".format)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [75]:
# purchase_df['Price'] = purchase_df['Price'].astype(float).map("${:,.2f}".format)

In [76]:
purchase_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [77]:
# Player Count
players = len(purchase_df["SN"].unique())
players

576

In [78]:
#  Purchasing Analysis (Total)
unique_item = len(purchase_df["Item ID"].unique())

avg_price = purchase_df["Price"].mean()

num_purchase = purchase_df["Purchase ID"].count()

total_revenue = purchase_df["Price"].sum()

In [79]:
purchasing_summary = pd.DataFrame({"Number of Unique Items": [unique_item],
                              "Average Price": avg_price,
                              "Number of Purchases": num_purchase,
                              "Total Revenue": total_revenue})
purchasing_summary

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [80]:
##  Gender Demographics
 
# Percentage and Count of Male Players

# Percentage and Count of Female Players

# Percentage and Count of Other / Non-Disclosed

In [81]:
demo_count_df = purchase_df.rename(columns={"Gender": "Total Count"})

In [82]:
# Gender Demographics
# Demographic count

demo_count_df = pd.DataFrame(demo_count_df["Total Count"].value_counts())
demo_count_df["Total Count"] = demo_count_df
demo_count_df

                       Total Count
Male                           652
Female                         113
Other / Non-Disclosed           15

In [83]:
purchase_df["Gender"].count()

780

In [90]:
demo_perc['Percentage of Players'] = pd.DataFrame((demo_count_df['Total Count'] / purchase_df["Gender"].count()))
demo_perc.round(2)

                       Percentage of Players
Male                                    0.84
Female                                  0.14
Other / Non-Disclosed                   0.02

In [91]:
summary_demo = pd.concat([demo_count_df, demo_perc], axis=1)
summary_demo.round(2)

                       Total Count  Percentage of Players
Male                           652                   0.84
Female                         113                   0.14
Other / Non-Disclosed           15                   0.02

In [87]:
## Purchasing Analysis (Gender)
 
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

# Create a summary data frame to hold the results

# Optional: give the displayed data cleaner formatting

# Display the summary data frame